
  
  /* INPUT BOX */
  label {
    display: block;
    transform: translate(0, -2.75rem);
  }
  
  input {
    width: 100%;
    margin-top: 1.5rem;
    padding: 0.25rem;
    border: none;
    border-bottom: 2px solid #111;
    transition: border-color 0.3s ease;
  }
  
  input:focus {
      outline: none;
      border-color: gray;
  }
 
  @supports (not (-ms-ime-align:auto)) {
      label {
        margin-top:-13px;
        color: #999;
        transform: translate(0.25rem, -1.5rem);
        transition: all 0.3s ease-out;
      }
      
      input:focus + label,
      input:not(:placeholder-shown) + label {
    
        color: #111;
        transform: translate(0, -2.75rem);
      }} 

       /* INPUT BOX END */




/* NAVBAR START */
